$color-black: #111;
$color-neutral: #999;
$color-light: #ddd;

$color-dark-red: #aa0000;
$color-dark-green: #00aa00;
$color-dark-blue: #0000aa;
$color-dark-yellow: #aaaa00;

$color-light-red: #aa4444;
$color-light-green: #44aa44;
$color-light-blue: #4444aa;
$color-light-yellow: #dddd55;